<% include ../partials/header %>
<div class="container">
    <div class="row">
        <div col-lg-12 col-md-12 col-sm-12>
            <h1 style="text-align:center;">Edit <%=j_food.name %></h1>
            <div style="width:30%; margin:25px auto;">
                <form action="/j_foods/<%=j_food._id %>?_method=PUT" method="POST" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="j_food[name]">Name</label>
                        <input class="form-control" type="text" name="j_food[name]" value="<%= j_food.name %>">
                    </div>
                    <div class="form-group"> 
                        <label for="image">New Image (Leave empty if not updating)</label>
                        <input type="file" id="image" name="image" accept="image/*" >
                    </div>
                    <div class="form-group">
                        <label for="j_food[description">Description</label>
                        <input class="form-control" type="text" name="j_food[description]" value="<%= j_food.description%>">
                    </div>
                    <div class="form-group"> 
                        <label for="j_food[price">Price</label>
                        <input class="form-control" type="number" name="j_food[price]" value="<%= j_food.price%>">
                    </div>
                    <div class="form-group"> 
                   <button class="btn btn-lg btn-primary btn-block">Submit</button>
                    </div>
                </form>
                <a href="/j_foods/<%=j_food._id %>" class="btn btn-xs btn-warning" >Go Back</a>
            </div>
        </div>
    </div>
</div>

<% include ../partials/footer %>