<% include ../partials/header %>
<div class="container">
    <div class="row">
        <div class="col-md-3 col-sm-12">
            <p class="lead">J Food Blogger</p>
            <div class="list-group">
                <li class="list-group-item" ><a href="/j_foods/new">Create new post</a></li>
                <li class="list-group-item" ><a href="#commentSection">See comments</a></li>
                <li class="list-group-item" ><a href="/j_foods">Go Back</a></li>
            </div>
        </div>
        <div class="col-md-9">
            <div class="thumbnail">
               <img class="img-responsive" src="<%= j_food.image %>">
               <div class="caption-full">
                   <h4 class="pull-right">$<%=j_food.price%></h4>
                   <h4><a><%= j_food.name %></a></h4>
                   <p><%= j_food.description %></p>
                   <p>
                       <em>Submitted By <a href="/users/<%= j_food.author.id %>"><%= j_food.author.username %></a></em>
                   </p>
                   <% if (currentUser && j_food.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>
                   <a class="btn btn-warning" href="/j_foods/<%= j_food._id %>/edit"> Edit </a>
                   <form class="delete-form" action="/j_foods/<%= j_food._id %>?_method=DELETE" method="POST" >
                       <button  class="btn btn-danger">Delete</button>
                   </form>
                   <% } %>
               </div>
            </div>
            <div class="well">
                <div class="text-right" id="commentSection">
                       <a class="btn btn-success" href="/j_foods/<%= j_food._id %>/comments/new"> Add New Comment </a>
                </div>
                <hr>
                <% j_food.comments.forEach(function(comment){ %>
                <div class="row">
                    <div class="col-md-12">
                        <strong><a href="/users/<%= comment.author.id %>"><%= comment.author.username %></a></strong>
                        <span class="pull-right"><%= comment.author.dateAdded %></span>
                        <p>
                          <%= comment.text %>
                        </p>
                    <% if (currentUser && comment.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>
                        <a class="btn btn-xs btn-warning" href="/j_foods/<%=j_food._id%>/comments/<%=comment._id%>/edit">Edit 
                        </a>
                        <form class="delete-form" action="/j_foods/<%=j_food._id%>/comments/<%=comment._id%>?_method=DELETE" method="POST">
                          <input type="submit" class="btn btn-xs btn-danger" value="delete"> 
                        </form>
                    <% } %>
                    </div>
                </div>
            <% })%>
            </div>
            <a class="btn btn-xs btn-warning" href="/j_foods">Go Back</a>
        </div>
    </div>
</div>            
            
            
            
            
           
            
            
         
            
           




<% include ../partials/footer %>